<ion-header>

  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Seguimiento</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-item-divider>
      <ion-title>
        # {{solicitudesList.length}} Solicitudes
      </ion-title>
    </ion-item-divider>

    <br>
    <div align="center">
        <button ion-button icon-left (click)="sortByProperty('emergencia')">&nbsp;Tipo &nbsp;
          <ion-icon name="md-arrow-drop{{orderType}}" *ngIf="orderAttr == 'emergencia'"></ion-icon>
        </button>

        <button ion-button icon-left (click)="sortByProperty('fhregistro')">Fecha &nbsp;
          <ion-icon name="md-arrow-drop{{orderType}}"  *ngIf="orderAttr == 'fhregistro'"></ion-icon>
        </button>

      <button ion-button icon-left (click)="sortByProperty('idemergencia')">Folio &nbsp;
        <ion-icon name="md-arrow-drop{{orderType}}" *ngIf="orderAttr == 'idemergencia'"></ion-icon>
      </button>
    </div>
    <br>

    <ion-list>
      <ion-item *ngFor="let solicitud of solicitudesList | orderBy : order"(click)="showDetails(solicitud)">
        <ion-avatar item-left>
          <img class="backgroundIMG_emergency" *ngIf="solicitud.emergencia == 'Emergencia'">
          <img class="backgroundIMG_police" *ngIf="solicitud.emergencia == 'Policia'">
          <img class="backgroundIMG_crane" *ngIf="solicitud.emergencia == 'Grúa'">
          <img class="backgroundIMG_ambulance" *ngIf="solicitud.emergencia == 'Ambulancia'">
        </ion-avatar>
        <h2>{{solicitud.emergencia}}</h2>
        <p>{{solicitud.fhregistro}}</p>
        <button ion-button clear item-right>{{solicitud.idemergencia}}</button>
      </ion-item>
      <ion-item [hidden]="solicitudesList.length" style="background: black;color: white">
          <div align="center">
            A&uacute;n no ha realizado solicitudes.
          </div>
      </ion-item>
    </ion-list>

    <!--<ion-card-content>
      <table style="width: 100%; margin: auto 5px auto 5px;">
        <thead class="fileTableHeader" *ngIf="solicitudesList.length">
        <tr>
          <th ng-click="sortByNum()">
            <a class="{{numSortClass}}">  Folio</a>
          </th>
          <th ng-click="sortByTipo()">
            <a class="{{tipoSortClass}}">  Tipo</a>
          </th>
          <th ng-click="sortByFecha()">
            <a class="{{fechaSortClass}}">  Fecha y Hora</a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let solicitud of solicitudesList"
          (click)="showDetails(solicitud)">
          <td class="fileTableCol text-right">{{solicitud.idemergencia}}</td>
          <td class="fileTableCol text-right">{{solicitud.emergencia}}</td>
          <td class="fileTableCol text-right">{{solicitud.fhregistro}}</td>
        </tr>
        <tr [hidden]="solicitudesList.length < 1">
          <td colspan="3"  style="text-align: center">
            A&uacute;n no ha realizado solicitudes.
          </td>
        </tr>
        </tbody>
      </table>
    </ion-card-content>-->
  </ion-card>
</ion-content>
