
<ion-header>
  <ion-navbar color="capufe_gray">
    <ion-title>Movimientos TAG</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-item-divider>
      <ion-title>Total de Movimientos ({{movimientos.length}})</ion-title>
    </ion-item-divider>

    <div *ngFor="let mov of movimientos" padding>
      <b>{{mov.desc}}</b>
        <div> $
         <span *ngIf="mov.monto < 0 " style="color:red">{{mov.monto}}</span>
         <span *ngIf="mov.monto > 0 " style="color:blue">{{mov.monto}}</span>
        ({{mov.fecha }} / {{mov.hora}})</div>
      <hr>
    </div>
  </ion-card>

</ion-content>
