<ion-header>
  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Juega conmigo!</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="animations" *ngIf="start == false">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
      <div id="title">
        <span>
          CAPUFE
        </span>
        <br>
        <span style="font-size:20px">
          074 Contigo...
        </span>
      </div>

      <div align="left" style="position:absolute;top:50%;width:100%" padding>
        <font style="color:white">
          Seleccionar jugador: 
        </font>
        <ion-list>
          <ion-item>
            <ion-label>Jugador</ion-label>
            <ion-select [(ngModel)]="opcPlayer" (ngModelChange)="choosePlayer($event)">
              <ion-option *ngFor="let player of arrayPlayer" [value]="player.id" >{{player.nombre}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>

      <ion-fab center bottom *ngIf="choose_player">
        <button ion-fab mini style="background:#008337;color:white" (click)="startPlay()">
          <ion-icon name="play"></ion-icon>
        </button>
        <h4 style="color:white">¡Jugar!</h4>
      </ion-fab>


      <div align="right" padding style="position:absolute;top:0px;right:5px">
        <p style="color:white" (click)="newUser()"><ion-icon ios="ios-person-add" md="md-person-add"></ion-icon> Nuevo usuario</p>
      </div>

  </div>
  <div class="fade-in one" *ngIf="start == true">
    <div class="divTitle">
      <div align="center">
        <br>
        <img src="assets/img/user.png" style="width:60px;height:60px" alt="">
      </div>
    </div>
    <div class="progress-outer" *ngIf="reShow != true">
      <div class="progress-inner" [style.width]="progress + '%'">
        {{progress}}%
      </div>
    </div>

    <div *ngFor="let preg of preguntas">
      <ion-card *ngIf="preg.estado">
        <ion-card-header class="titleCard" text-wrap>
          {{preg.numero+1}}. {{preg.pregunta}} <font style="font-size:10px">({{preg.pts}} pts)</font>
        </ion-card-header>
        <ion-card-content>
          <ion-list radio-group [(ngModel)]="opList" >
            <ion-item text-wrap>
              <ion-label [innerHTML]="preg.respuesta[0].opc"></ion-label>
              <ion-radio  checked="false" value="a" (click)="changeState()"></ion-radio>
            </ion-item>
            <ion-item text-wrap>
              <ion-label [innerHTML]="preg.respuesta[1].opc"></ion-label>
              <ion-radio checked="false" value="b" (click)="changeState()"></ion-radio>
            </ion-item>
            <ion-item text-wrap>
              <ion-label [innerHTML]="preg.respuesta[2].opc"></ion-label>
              <ion-radio checked="false" value="c" (click)="changeState()"></ion-radio>
            </ion-item>
            <ion-item text-wrap>
              <ion-label [innerHTML]="preg.respuesta[3].opc"></ion-label>
              <ion-radio checked="false" value="d" (click)="changeState()"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    

    <ion-card *ngIf="res_on == true" class="fade-in one"> 
      <ion-card-header class="titleCard" text-wrap *ngIf="resPreg">
        {{res_on_coment_title}}
      </ion-card-header>
      <ion-card-header class="titleCard_wrong" text-wrap *ngIf="!resPreg">
        {{res_on_coment_title}}
      </ion-card-header>
      <ion-card-content class="padding">
        <br>
        <p [innerHTML] ="res_on_coment"></p>
        <font style="color:#008337" [innerHTML] ="respuesta_texto">
        </font>
      </ion-card-content>
    </ion-card>

    
    
    <div *ngIf="res_on == true" align="center">
      <br>
      <button ion-button color="secondary" (click)="nextQuestion()" class="fade-in one" >Siguiente &nbsp;<ion-icon name="arrow-forward"></ion-icon></button>
    </div>

    
    <div *ngIf="res_final == true">
      <br><br>
      <div align="center"  *ngIf="res_on != true">
        <button ion-button (click)="calificar()">
          Evaluar
        </button>
      </div>
    </div>
  </div>

  <div style="width:100%;height:200px;background:black" *ngIf="reShow == true">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <div align="center">
            <div class="emoji  emoji--yay" *ngIf="resCont == 7 || resCont == 6">
              <div class="emoji__face">
                <div class="emoji__eyebrows"></div>
                <div class="emoji__mouth"></div>
              </div>
            </div>
            <div class="emoji  emoji--wow" *ngIf="resCont == 5 || resCont == 4 ">
              <div class="emoji__face">
                <div class="emoji__eyebrows"></div>
                <div class="emoji__eyes"></div>
                <div class="emoji__mouth"></div>
              </div>
            </div>
            <div class="emoji  emoji--sad" *ngIf="resCont == 1 || resCont == 2 || resCont == 0 || resCont == 3">>
              <div class="emoji__face">
                <div class="emoji__eyebrows"></div>
                <div class="emoji__eyes"></div>
                <div class="emoji__mouth"></div>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div align="center" style="color:white">
            <br>
            <h5>Resultado: {{resCont}} Correctas!</h5>
            <br>
            <h5>Puntaje: {{resCont1}} pts!</h5>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab center middle *ngIf="reShow == true">
    <button ion-fab mini style="background:#008337;color:white" (click)="restarGame()">
      <ion-icon name="refresh"></ion-icon>
    </button>
    <h4 style="color:#008337">Reiniciar</h4>
  </ion-fab>

  <ion-fab center bottom *ngIf="resCont == 7 || resCont == 6">
    <button ion-fab mini style="background:#008337;color:white" (click)="goToGame()">
      <ion-icon ios="ios-jet" md="md-jet"></ion-icon>
    </button>
    <h4 style="color:#008337">Jugar!</h4>
  </ion-fab>

  <div align="center" *ngIf="reShow == true" padding style="position:absolute;top:55%;width:100%">
    <br>
    <table>
      <tr>
        <th>Posición</th>
        <th>Nombre</th>
        <th>Partidas</th>
        <th>Promedio</th>
      </tr>
      <tr *ngFor="let aux of arrayPlayer" style="text-align:center">
        <td>{{aux.id+1}}</td>
        <td>{{aux.nombre}}</td>
        <td>{{aux.partidas}}</td>
        <td>{{aux.promedio}}</td>
      </tr>
    </table>
  </div>



</ion-content>
