<ion-header>
  <ion-navbar color="capufe_gray">
    <ion-title>Facturas</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>
</ion-header>


<ion-content>

<ion-card>
  <ion-item-divider>
    <ion-title>Facturas Totales ({{facturas.length}})</ion-title>
  </ion-item-divider>
  <div *ngFor="let fact of facturas" padding>
    <b>{{fact.desc}}</b>
    <div>$ {{fact.monto}} ({{fact.fecha}} / {{fact.hora}})</div>
    <hr>
  </div>
</ion-card>


</ion-content>
