<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Realizar solicitud" tabIcon="pulse"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Seguimiento solicitud" tabIcon="chatbubbles"></ion-tab>
</ion-tabs>
