<ion-header>
  <ion-navbar  color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{currTabTitle}}</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>

<ion-tabs>
  <ion-tab
    *ngFor="let tab of tabsCulturaVial"
    [root]="tab.component"
    tabTitle="{{tab.title}}"
    tabIcon="{{tab.icon}}" (ionSelect)="onTabClicked(tab.title)">
  </ion-tab>
</ion-tabs>
