<ion-header>
  <ion-navbar  color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sesión</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="!isLoggedIn">
    <ion-card>
      <ion-item-divider>
        <ion-title>
          Iniciar sesión
        </ion-title>
      </ion-item-divider>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label stacked>Usuario</ion-label>
            <ion-input
              type="text"
              required
              name="usuario"
              [(ngModel)]="loginForm.usuario"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Contraseña</ion-label>
            <ion-input
              type="password"
              name="password"
              required [(ngModel)]="loginForm.passwordField" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Iniciar sesón automáticamente</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="loginForm.rememberMeField"></ion-checkbox>
          </ion-item>
        </ion-list>
        <div align="center">
          <br>
          <button
            ion-button (click)="doLogin()"
            [class.isOffLine]="!isOnLine"
            [disabled]="!loginForm.passwordField || !loginForm.usuario || !isOnLine">
            <ion-icon [name]="isOnLine?'':'ios-wifi'"></ion-icon>&nbsp;Acceder
          </button>
          <br>
        </div>

        <div style="text-align: right; padding-top: 20px;">
          <a (click)="passRecoveryPrompt()">Olvidé  mi contraseña</a>
        </div>

      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="isLoggedIn">
    <ion-grid no-padding>
      <ion-row responsive-sm>
        <ion-col no-padding>
          <ion-card>
            <ion-item-divider>
              <ion-title>Salir</ion-title>
            </ion-item-divider>
            <ion-card-content>
              <br>
              <button ion-button full [disabled]="!isLoggedIn" (click)="showLogoutPrompt()"><ion-icon ios="ios-power" md="md-power"></ion-icon>&nbsp;&nbsp;&nbsp;Cerrar la sesión</button>
              <br>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col no-padding>
          <ion-card>
            <ion-item-divider>
              <ion-title>
                Cambiar mi contraseña
              </ion-title>
            </ion-item-divider>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label stacked>Contraseña actual</ion-label>
                  <ion-input
                    type="text"
                    name="lastPassword"
                    required
                    [(ngModel)]="utilitiesForm.oldPassword"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label stacked>Nueva contraseña</ion-label>
                  <ion-input
                    type="password"
                    name="newPassword"
                    required
                    [(ngModel)]="utilitiesForm.newPassword" ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label stacked>Repetir nueva contraseña</ion-label>
                  <ion-input
                    type="password"
                    name="newPasswordRepeat"
                    required
                    [(ngModel)]="utilitiesForm.newPasswordRepeat" ></ion-input>
                </ion-item>
                <div align="center">
                  <br>
                  <button
                    ion-button
                    [class.isOffLine]="!isOnLine"
                    (click)="doChgPasswd()"
                    [disabled]="!utilitiesForm.oldPassword
                    || !utilitiesForm.newPassword
                    || (utilitiesForm.newPassword != utilitiesForm.newPasswordRepeat
                    || !isOnLine)">
                    <ion-icon [name]="isOnLine?'':'ios-wifi'"></ion-icon>&nbsp;Cambiar
                  </button>
                  <br>
                </div>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
