<ion-header>
  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-item-divider>
      <ion-title>
        Contactos de emergencia
      </ion-title>
    </ion-item-divider>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <strong>Número</strong>
        </ion-col>
        <ion-col><strong>Referencia</strong></ion-col>
        <ion-col><strong>Editar</strong></ion-col>
        <ion-col><strong>Eliminar</strong></ion-col>
      </ion-row>
      <ion-row
        style="border-bottom: 1px solid #ccc; padding-top: 8px;"
        *ngFor="let telefono of usuario.tels; let i = index">
        <ion-col>
          {{telefono.tel}}
        </ion-col>
        <ion-col>{{telefono.ref}}</ion-col>
        <ion-col><span (click)="updateContact(i)" *ngIf="telefono.ref != 'Propio'">Editar</span></ion-col>
        <ion-col><span (click)="deleteContact(i)" *ngIf="telefono.ref != 'Propio'">X</span></ion-col>
      </ion-row>
      <div align="center"  class="text-center" *ngIf="!usuario.tels || (usuario.tels.length < maxNumOfTels)">
        <br>
        <button
        ion-button
        [class.isOffLine]="!isOnLine"
        (click)="registerTelefono()"
        [disabled]="!isOnLine">
          <ion-icon [name]="isOnLine?'':'ios-wifi'"></ion-icon>&nbsp;Agregar nuevo contacto
        </button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-title>
      Elegir Avatar
    </ion-title>
    <ion-card-content>
      <div *ngFor="let avatar of avatars; let i = index">
        <ion-row *ngIf="i % 3 === 0">
          <ion-col width-33
                   class="avatar-col"
                   *ngIf="avatars[i].selectable==true"
                   ngClass="{{avatars[i].selected===true ?'avatar-selected':''}}"
                   (click)="changeAvatar(i)">
            <img class='profile-avatar avatar-{{avatars[i].name}}' alt='' width='80%'>
          </ion-col>

          <ion-col width-33 class="avatar-col"
                   *ngIf="(i + 1 < avatars.length)  && avatars[i+1].selectable==true"
                   ngClass="{{avatars[i+1].selected===true ?'avatar-selected':''}}"
                   (click)="changeAvatar(i+1)">
            <img class='profile-avatar avatar-{{avatars[i+1].name}}' alt='' width='80%'>
          </ion-col>

          <ion-col width-33 class="avatar-col"
                   *ngIf="(i + 2 < avatars.length) && avatars[i+2].selectable==true"
                   ngClass="{{avatars[i+2].selected===true ?'avatar-selected':''}}"
                   (click)="changeAvatar(i+2)">
            <img class='profile-avatar avatar-{{avatars[i+2].name}}' alt='' width='80%'>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
