<ion-header>

  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reportes</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>


  <ion-card>
    <ion-item-divider>
      <ion-title>
        Reportar Incidentes
      </ion-title>
    </ion-item-divider>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select [(ngModel)]="tipoReporte" (ionChange)="getSubTipoReporte(tipoReporte)" cancelText="Cancelar" okText="Aceptar">
            <ion-option
              *ngFor="let reporte of catTipoReporte"
              value="{{reporte.id}}">{{reporte.nombre}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Subtipo</ion-label>
          <ion-select [(ngModel)]="subtipoReporte" cancelText="Cancelar" okText="Aceptar">
            <ion-option
              *ngFor="let subreporte of catSubtipoReporte"
              value="{{subreporte.id}}">{{subreporte.nombre}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked="">Detalles:</ion-label>
          <ion-textarea minlength="10" maxlength="500" rows="6" [(ngModel)]="detalles"></ion-textarea>
        </ion-item>
      </ion-list>

      <br>
      <div align="center">
        <button ion-button
          (click)="enviarReporte()"
          [class.isOffLine]="!isOnLine"
          [disabled]="!isSessionOK || detalles.length < 10 || !isOnLine">
          <ion-icon [name]="isOnLine?'':'ios-wifi'"></ion-icon>&nbsp;Enviar
        </button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
