tab-realizarReporte {
  .solicitud-icon{
    width: 80px;
    margin-left: auto;
    margin-right: auto
  }

  .grua-icon{
    content: url(../assets/img/tab-icons/Grua.png);
  }

  .ambulancia-icon{
    content: url(../assets/img/tab-icons/Ambulancia.png);
  }

  .patrulla-icon{
    content: url(../assets/img/tab-icons/Patrulla.png);
  }
}
