
<ion-header>

  <ion-navbar>
    <ion-title>Señales preventivas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/001.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">CURVA</div>
          <div class="text-jutified">
            Se usa para indicar curvas a la derecha o a la izquierda, y cuando el grado de curvatura sea menos de 90 grados.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/002.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">CODO</div>
          <div class="text-jutified">
            Se usa para indicar curvas a la derecha o a la izquierda, y cuando el grado de curvatura sea igual o mayor de 90 grados.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/003.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">CURVA INVERSA</div>
          <div class="text-jutified">
            Se usa para indicar la presencia de dos curvas consecutivas de dirección contraria; indicará si es derecha-izquierda o izquierda-derecha.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/004.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">CODO INVERSO</div>
          <div class="text-jutified">
            Se usa para indicar la presencia de dos curvas consecutivas en dirección contraria, se indica si el codo es izquierdo-derecho o derecho-izquierdo.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/005.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">CAMINO SINUOSO</div>
          <div class="text-jutified">
            Indicará si existen tres o más curvas inversas consecutivamente.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/006.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">CRUCE DE CAMINOS</div>
          <div class="text-jutified">
            Indica la intersección a nivel de dos caminos. El camino principal se mostrará con la línea ancha y el secundario en el que se tenga que hacer ALTO o CEDER EL PASO, con la línea más angosta.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/007.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">ENTRONQUE EN T</div>
          <div class="text-jutified">
            Se utilizará para indicar una intersección a nivel de tres ramas,
            cuando el ramal que entronca sea normal o tenga un ángulo de esviaje
            hasta de 30°. El camino principal se indicará con línea ancha y el secundario en el que se tenga que hacer ALTO o CEDER EL PASO, con una línea 50% más angosta. El símbolo deberá indicar si el ramal entronca por el lado derecho, izquierdo o de frente.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/008.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">ENTRONQUE EN DELTA</div>
          <div class="text-jutified">
            Se utilizará para indicar una intersección a nivel de tres ramas. El camino principal se indicará con línea ancha y el secundario en el que se tenga que hacer ALTO o CEDER EL PASO, con una línea 50% más angosta. El símbolo deberá indicar si las ramas entroncan por el lado derecho,  el izquierdo o al frente.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/009.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">ENTRONQUE LATERAL OBLICUO</div>
          <div class="text-jutified">
            Se utilizará para indicar una intersección a nivel de tres ramas, cuando el ramal que entronca tenga un ángulo de esviaje mayor de 30°. El camino principal se indicará con línea ancha y el secundario en el que se tenga que hacer ALTO o CEDER EL PASO, con una línea 50% más angosta. El símbolo indicará si el entronque lateral es por la derecha o por la izquierda.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/010.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">ENTRONQUE EN Y</div>
          <div class="text-jutified">
            Se utilizará para indicar la bifurcación de un camino. El camino principal se indicará con línea ancha y el secundario en el que se tenga que hacer ALTO o CEDER EL PASO, con una línea 50% más angosta.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/011.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">GLORIETA</div>
          <div class="text-jutified">
            Se usará para indicar una intersección a nivel de dos o más caminos que tenga una isleta central de forma circular o semejante.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/012.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">INCORPORACIÓN DEL TRÁNSITO</div>
          <div class="text-jutified">
            Se usará para indicar la proximidad de una confluencia, derecha o izquierda, por donde se incorporará un volumen de tránsito en el mismo sentido. El símbolo mostrará si la confluencia es por el lado derecho o por el izquierdo.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/013.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">DOBLE CIRCULACIÓN</div>
          <div class="text-jutified">
            Se usará para indicar el cambio de un tramo con circulación en un solo sentido, a otro de dos carriles con circulación en ambos sentidos.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/014.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">SALIDA</div>
          <div class="text-jutified">
            Se usará para indicar la proximidad de una salida en los caminos de acceso controlado. El símbolo indicará si la salida es por la derecha o por la izquierda.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/015.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">ESTRECHAMIENTO SIMÉTRICO</div>
          <div class="text-jutified">
            Se usará para indicar una reducción simétrica en la anchura del camino, ya sea disminuyendo el número de carriles o simplemente las dimensiones de la sección transversal.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/037.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">ESTRECHAMIENTO ASIMÉTRICO</div>
          <div class="text-jutified">
            Se usará para indicar una reducción simétrica en la anchura del camino, ya sea disminuyendo el número de carriles o simplemente las dimensiones de la sección transversal.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/016.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">PUENTE MÓVIL</div>
          <div class="text-jutified">
            Se usará para indicar la proximidad de un puente cuyo sistema de piso pueda estar momentáneamente desplazado, horizontal o verticalmente, para permitir el paso de embarcaciones.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/017.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">PUENTE ANGOSTO</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de un puente cuya anchura entre guarniciones sea menor a la de la calzada del camino.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/018.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">ANCHURA LIBRE</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de pasos estrechos o estructuras angostas que no permitan la circulación simultánea de dos vehículos. La anchura libre aproximada al decímetro inferior se indicará en un tablero adicional.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/019.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">ALTURA LIBRE</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de un paso inferior o cualquier otra estructura cuyo espacio libre vertical sea menor de 4.30 metros. La altura libre, aproximada al decímetro inferior, se indicará en un tablero adicional.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/020.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">VADO</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de un vado en el camino.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/021.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">TERMINA PAVIMENTO</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de la terminación de pavimento.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/022.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">SUPERFICIE DERRAPANTE</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de un tramo con pavimento resbaloso. Esta señal será temporal y se retirará tan pronto como la condición que indica haya desaparecido.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/023.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">PENDIENTE PELIGROSA</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de una pendiente descendente en la cual se requiera frenar constantemente, de preferencia con motor.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/024.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">ZONA DE DERRUMBES</div>
          <div class="text-jutified">
            Se utilizará para indicar la presencia de un tramo de camino en el cual existen posibilidades de encontrar derrumbes. El símbolo indicará si el derrumbe es por la derecha o por la izquierda.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/025.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">ALTO PRÓXIMO</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de una señal de alto cuando ésta última no sea visible a una distancia suficiente para que el conductor pueda parar en el lugar mismo de la restricción.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/026.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">PEATONES</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de lugares frecuentados por peatones, o bien de un cruce especialmente destinado a ellos.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/027.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">ESCOLARES</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de una zona frecuentada por escolares, o bien de un cruce especialmente destinado a ellos.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/028.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">GANADO</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de un tramo frecuentado por ganado, o bien la existencia de un cruce para el mismo.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/029.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">CRUCE DE FERROCARRIL</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de un paso de ferrocarril a nivel.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/030.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">MAQUINARIA  AGRÍCOLA</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de un tramo frecuentado por maquinaria agrícola o bien de un cruce destinado para la misma.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/031.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">SEMÁFORO</div>
          <div class="text-jutified">
            Se usará antes de las intersecciones aisladas que estén controladas por semáforos, o cuando se entra a una zona donde no se espera encontrarlos.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/032.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">CAMINO DIVIDIDO</div>
          <div class="text-jutified">
            Se usará para indicar el principio o el final de un camino dividido con faja separadora central. Según la posición del símbolo, se indicará el inicio o la terminación del tramo dividido.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/033.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">CICLISTAS</div>
          <div class="text-jutified">
            Se utilizará para indicar la proximidad de un lugar frecuentado por ciclistas, o bien de un cruce especialmente destinado a ellos.
          </div>
        </ion-col>
      </ion-row>

      <hr>
      <ion-row>
        <ion-col col-3>
          <img class="sign-icon" src="./assets/img/signs/preventivas/034.png" alt="">
        </ion-col>
        <ion-col col-9>
          <div class="sign-title">GRAVA SUELTA</div>
          <div class="text-jutified">
            Se usará para indicar la proximidad de un tramo en el que existe grava suelta sobre la superficie de rodamiento.
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>

