<ion-header>
  <ion-toolbar color="capufe_gray">
    <ion-title style="padding-left: 25%">Tramos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <img class="navbarLeftImg" alt="">
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-list>
    <ion-item
      *ngIf="numSelectedTramos < catTramos.tramos.length">
      <ion-label>Seleccionar todos</ion-label>
      <ion-checkbox (click)="selectAllTramos()"></ion-checkbox>
    </ion-item>
    <ion-item
      *ngIf="numSelectedTramos == catTramos.tramos.length">
      <ion-label>Quitar todos</ion-label>
      <ion-checkbox (click)="unselectAllTramos()"></ion-checkbox>
    </ion-item>
    <ion-item
      *ngFor="let tramo of catTramos.tramos; let id = index">
      <ion-label>{{tramo.nombre}}</ion-label>
      <ion-checkbox
        [checked]="tramo.selected == true || tramo.selected == 1"
        (click)="toggleTramo(id, tramo.id)"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
