page-warmup {
  .content{
    background: url(../assets/img/warmup-bg.png) no-repeat;
    background-size: cover;
  }

  .toolbar-title-md{color: #fff}

  .initState{color:#3e4840}
  .unknownState{color:#ffca00}
  .okState{color: #00d459}
  .errorState{color: red/*#c73030*/}

  .col{
    text-align: center;
    [large]{
      font-size: xx-large;
    }
  }

  ion-item{
    &.item-md{
      background: none;
      color: white;
    }

    b{
      text-transform: uppercase;
    }
  }

  .checkingModule-title{
    text-align: center;
  }
  .aftercheck-message{
    color: #f1f1f1;
    font-size: 21px;
    text-align: center;
  }

  .ask-action-buttons{
    text-align: center;
  }

  .item-md.item-block .item-inner{
    border-bottom: 1px solid #216701
  }
  .card-md{
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #216701;
    border-radius: 8px !important;
  }


  .blink-infinite {
    -webkit-animation-name: blink;
    -moz-animation-name: blink;
    -o-animation-name: blink;
    animation-name: blink;

    -webktit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }


  @-webkit-keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @-moz-keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @-o-keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
