<ion-header [hidden]="true">
  <!--<ion-navbar>
    <ion-title>warmup</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content padding-top>
  <ion-title padding-bottom text-center>Preparando la aplicación</ion-title>
  <ion-row>
    <ion-col>
      <div [class.blink-infinite]="checkingModule=='DB' && (dbState=='errorState'|| dbState=='unknownState')">
        <ion-icon
          [ngClass]="dbStateClass"
          name="logo-buffer"
          large></ion-icon>
          <ion-icon
            [hidden]="dbState=='initState'"
            [ngClass]="dbStateClass"
            [name]="dbState=='okState'?'checkmark-circle-outline':(dbState=='errorState'?'close':'warning')"
          ></ion-icon>
      </div>
    </ion-col>

    <ion-col>
      <div [class.blink-infinite]="checkingModule=='WIFI' && (wifiState=='errorState'|| wifiState=='unknownState')">
        <ion-icon
        [ngClass]="wifiStateClass"
        name="ios-wifi"
        large></ion-icon>
        <ion-icon
           [hidden]="wifiState=='initState'"
          [ngClass]="wifiStateClass"
          [name]="wifiState=='okState'?'checkmark-circle-outline':(wifiState=='errorState'?'close':'warning')"
          ></ion-icon>
      </div>
    </ion-col>

    <ion-col>
      <div [class.blink-infinite]="checkingModule=='GPS' && (gpsState=='errorState'|| gpsState=='unknownState')">
        <ion-icon
        [ngClass]="gpsStateClass"
        name="md-pin"
        large></ion-icon>
        <ion-icon
          [hidden]="gpsState=='initState'"
          [ngClass]="gpsStateClass"
          [name]="gpsState=='okState'?'checkmark-circle-outline':(gpsState=='errorState'?'close':'warning')"
          ></ion-icon>
      </div>
    </ion-col>

    <ion-col>
      <div [class.blink-infinite]="checkingModule=='UPDATES' && (updateState=='errorState'|| updateState=='unknownState')">
        <ion-icon
        [ngClass]="updateStateClass"
        name="cloud-download"
        large></ion-icon>
        <ion-icon
           [hidden]="updateState=='initState'"
          [ngClass]="updateStateClass"
          [name]="updateState=='okState'?'checkmark-circle-outline':(updateState=='errorState'?'close':'warning')"
          ></ion-icon>
      </div>
    </ion-col>

    <ion-col>
      <div [class.blink-infinite]="checkingModule=='SESSION' && (sessionState=='errorState'|| sessionState=='unknownState')">
        <ion-icon
        [ngClass]="sessionStateClass"
        name="log-in"
        large></ion-icon>
        <ion-icon
           [hidden]="sessionState=='initState'"
          [ngClass]="sessionStateClass"
          [name]="sessionState=='okState'?'checkmark-circle-outline':(sessionState=='errorState'?'close':'warning')"
          ></ion-icon>
      </div>
    </ion-col>
  </ion-row>

  <!-- DB layout -->
  <div *ngIf="checkingModule=='DB'">
    <ion-item padding-right>
      <!--<ion-icon
        [ngClass]="dbState=='okState'?'okState':(dbState=='errorState'?'errorState':'unknownState')"
        name="logo-buffer"
        large item-start></ion-icon>-->
      <div class="checkingModule-title">
        Estado de la base de datos <br><b>{{dbState=='okState'?'Cargada':(dbState=='errorState'?'No cargada':'indeterminado')}}</b>
      </div>
      <ion-icon
        [ngClass]="dbStateClass"
        [name]="dbState=='okState'?'checkmark-circle-outline':'warning'"
        large item-end></ion-icon>
    </ion-item>

    <ion-card padding *ngIf="dbMessages">
      <ion-card-title>
        <div class="aftercheck-message" [innerHTML]="dbMessages"></div>
      </ion-card-title>
      <div class="ask-action-buttons" *ngIf="dbState == 'errorState' || dbState == 'unknownState'">
        <button ion-button (click)="checkNetworkState()">Continuar </button>
      </div>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- WIFI layout -->
  <div *ngIf="checkingModule=='WIFI'">
    <ion-item padding-right>
      <!--<ion-icon
      [ngClass]="wifiState=='okState'?'okState':(wifiState=='errorState'?'errorState':'unknownState')"
      name="ios-wifi"
      large item-start></ion-icon>-->
      <div class="checkingModule-title">
        WiFi / Datos <br><b>{{wifiState=='okState'? 'habiltado':(wifiState=='errorState'?'deshabilitado':'desconocido')}}</b>
      </div>
      <ion-icon
        [ngClass]="wifiStateClass"
        [name]="wifiState=='okState'?'checkmark-circle-outline':'warning'"
        large item-end></ion-icon>
    </ion-item>

    <ion-card padding *ngIf="wifiMessages">
      <ion-card-title>
        <div class="aftercheck-message" [innerHTML]="wifiMessages"></div>
      </ion-card-title>

      <ion-card-content>
        <div class="ask-action-buttons" *ngIf="wifiState == 'errorState' && readyToEnableWifi">
          <button ion-button color="danger" (click)="didntWantEnableWiFi()">Ahora no</button>
          <button ion-button (click)="switchToWifiSettings()" *ngIf="runsOnDevice">Habilitar</button>
        </div>
        <div class="ask-action-buttons" *ngIf="wifiMessages && !runsOnDevice">
          <button ion-button (click)="didntWantEnableWiFi()" >Continuar</button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- GPS layout -->
  <div *ngIf="checkingModule=='GPS'">
    <ion-item padding-right>
      <!--<ion-icon
      [ngClass]="gpsState=='okState'?'okState':(gpsState=='errorState'?'errorState':'unknownState')"
      name="md-pin"
      large item-start></ion-icon>-->
    <div class="checkingModule-title">
      Geolocalización <br><b>{{gpsState=='okState'?'habilitada':(gpsState=='errorState'?'deshabilitada':'desconocido')}}</b>
    </div>

    <ion-icon
      [ngClass]="gpsStateClass"
      [name]="gpsState=='okState'?'checkmark-circle-outline':'warning'"
      large item-end></ion-icon>
    </ion-item>

    <ion-card padding *ngIf="gpsMessages">
      <ion-card-title>
        <div class="aftercheck-message" [innerHTML]="gpsMessages"></div>
      </ion-card-title>

      <ion-card-content>
        <div class="ask-action-buttons" *ngIf="gpsState == 'errorState' &&readyToEnableGps">
          <button ion-button color="danger"  (click)="didntWantEnableGps()">Ahora no</button>
          <button ion-button (click)="switchToLocationSettings()" *ngIf="runsOnDevice">Habilitar</button>
        </div>
        <div class="ask-action-buttons" *ngIf="gpsMessages && !readyToEnableGps">
          <button ion-button (click)="askForUpdates()">continuar</button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- UPDATES layout -->
  <div *ngIf="checkingModule=='UPDATES'">
    <ion-item padding-right>
      <!--<ion-icon
      [ngClass]="updateState=='okState'?'okState':(updateState=='errorState'?'errorState':'unknownState')"
      name="cloud-download"
      large item-start></ion-icon>-->
      <div class="checkingModule-title">
        Aplicación actualizada <br><b>{{updateState=='okState'?'sí':(updateState=='errorState'?'no':'desconocido')}}</b>
      </div>
      <ion-icon
        [ngClass]="updateStateClass"
        [name]="updateState=='okState'?'checkmark-circle-outline':'warning'"
        large item-end></ion-icon>
    </ion-item>

    <ion-card padding *ngIf="updatesMessages">
      <ion-card-title>
        <div class="aftercheck-message" [innerHTML]="updatesMessages"></div>
      </ion-card-title>

      <ion-card-content>
        <div class="ask-action-buttons" *ngIf="updatesMessages && readyToCheckForUpdates && !readyToUpdate">
          <button ion-button color="danger"  (click)="checkSessionStatus()">No gracias</button>
          <button ion-button (click)="cleanUpdates()">¡Claro!</button>
          <button ion-button (click)="neverAskForUpdates()">No volver a preguntar</button>
        </div>
        <div class="ask-action-buttons" *ngIf="updatesMessages && readyToUpdate">
          <button ion-button color="danger"  (click)="checkSessionStatus()">Ahora no</button>
          <button ion-button (click)="downloadUpdates()">Sí por favor</button>
        </div>
        <div class="ask-action-buttons" *ngIf="updatesMessages && !readyToUpdate && !readyToCheckForUpdates">
          <button ion-button (click)="checkSessionStatus()">continuar</button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- SESSION layout -->
  <div *ngIf="checkingModule=='SESSION'">
    <ion-item padding-right>
      <!--<ion-icon
      [ngClass]="loginState=='okState'?'okState':(loginState=='errorState'?'errorState':'unknownState')"
      name="log-in"
      large item-start></ion-icon>-->
      <div class="checkingModule-title">
        Sesión iniciada <br><b>{{sessionState=='okState'?'Sí':(sessionState=='errorState'?'No':'desconocido')}}</b>
      </div>
      <ion-icon
        [ngClass]="sessionStateClass"
        [name]="sessionState=='okState'?'checkmark-circle-outline':'warning'"
        large item-end></ion-icon>
    </ion-item>

    <ion-card padding *ngIf="sessionMessages">
      <ion-card-title>
        <div class="aftercheck-message" [innerHTML]="sessionMessages">
        </div>
      </ion-card-title>

      <ion-card-content>
        <div class="ask-action-buttons" *ngIf="sessionMessages && sessionState != 'okState'">
          <button ion-button (click)="goToMainPage()">Entendido</button>
        </div>
      </ion-card-content>

    </ion-card>

  </div>

</ion-content>
