<ion-header>
  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Comunicación Social</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>
</ion-header>


<ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">
  <iframe data-tap-disabled="true" src="http://eonproduccion.net/amigocapufe/csocial.html">
    <p>Lo sentimos, tu dispositivo no soporta este tipo de contenido.</p>
  </iframe>
</ion-content>
