
<ion-header>

  <ion-navbar color="capufe_gray">
    <ion-title>Consejos</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-item-divider text-wrap text-center>
        RECOMENDACIONES BÁSICAS PARA VIAJAR POR CARRETERA CON SEGURIDAD
    </ion-item-divider>
    <div padding>
      <p text-justify>
        Caminos y Puentes Federales recomienda a todos los usuarios de sus autopistas
        tomar las previsiones necesarias para disfrutar de un recorrido sin contratiempos.
      </p>
      <p>
        <b>Recomendaciones básicas para viajar con seguridad</b>:
      </p>
      <ul>
        <li>Antes de viajar verifique el estado de su vehículo y en caso necesario, llévelo a mantenimiento.</li>
        <li>Lleve en su vehículo señales de emergencia y llanta de refacción en buen estado y a la presión indicada.</li>
        <li>Revise el correcto funcionamiento de las luces altas, bajas, direccionales, así como las intermitentes o luces de emergencia.</li>
        <li>En el caso del equipaje se debe tomar la precaución de que el peso sea distribuido correcta y equitativamente en la cajuela.</li>
        <li>Si utiliza el portaequipaje que se ubica en la parte superior del vehículo, cerciórese de que está cerrado y perfectamente asegurado para evitar un accidente.</li>
        <li>Evite conducir si ha ingerido bebidas alcohólicas o enervantes.</li>
        <li>Respete a los demás usuarios evitando deslumbrar con luces altas, utilizando lámparas de neblina (especialmente las traseras) <b>únicamente</b> en caso necesario y aplicando la cortesía al conducir.</li>
        <li>Mantenga la distancia con respecto a otros vehículos.</li>
        <li>Evite distracciones. No utilice dispositivos móviles (celulares, tabletas, etc) mientras conduce.</li>
        <li>Todos los ocupantes del vehículo deberan utilizar el cinturón de seguridad.</li>
        <li>Respete las señales y la velocidad máxima recomendada, especialmente en condiciones meteorológicas adversas.</li>
      </ul>
      <div text-center>
        <img src="./assets/img/capufe-dest-900x400.png" alt="" width="200px">
      </div>
    </div>
  </ion-card>
</ion-content>
