<ion-header>
  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registro</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-item-divider>
      <ion-title>
        Datos del usuario
      </ion-title>
    </ion-item-divider>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label stacked>Nombre</ion-label>
          <ion-input
            type="text"
            required
            name="nombre"
            [(ngModel)]="registerForm.nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Apellido Paterno</ion-label>
          <ion-input
            type="text"
            name="paterno"
            required [(ngModel)]="registerForm.paterno" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Apellido Materno</ion-label>
          <ion-input
            type="text"
            name="materno"
            required [(ngModel)]="registerForm.materno" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Género</ion-label>
          <ion-select
            name="genero"
            [(ngModel)]="registerForm.genero" cancelText="Cancelar" okText="Aceptar"
            (ionChange)="checkValidity()">
            <ion-option value="1">Masculino</ion-option>
            <ion-option value="2">Femenino</ion-option>
            <!--<ion-option value="3">Otro</ion-option>-->
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Nombre de usuario</ion-label>
          <ion-input
            type="text"
            name="usuario"
            required [(ngModel)]="registerForm.loginField" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input
            type="email"
            name="email"
            required [(ngModel)]="registerForm.email" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Teléfono</ion-label>
          <ion-input
            type="text"
            name="telefono"
            placeholder="Ejemplo: 7441234567"
            required [(ngModel)]="registerForm.telefono" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Contraseña</ion-label>
          <ion-input
            type="password"
            name="passwordField"
            required [(ngModel)]="registerForm.passwordField" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Repetir Contraseña</ion-label>
          <ion-input
            type="password"
            name="password2"
            required [(ngModel)]="registerForm.password2" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Iniciar sesón automáticamente</ion-label>
          <ion-checkbox color="primary" [(ngModel)]="registerForm.rememberMeField"></ion-checkbox>
        </ion-item>
      </ion-list>
      <div align="center">
        <button
          ion-button
          [class.isOffLine]="!isOnLine"
          (click)="registerPrompt()"
          [disabled]="!isOnLine">
          <ion-icon [name]="isOnLine?'':'ios-wifi'"></ion-icon>&nbsp;Registrarme
        </button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
