tab-tramos {
  .scrolled-list{
    min-height: 20px;
    max-height: 170px;
    overflow-y: scroll;
    div{
      font-weight: bold;
      color: green;
      border-bottom: 1px dashed green;
    }
  }

  #scroll-indicator-container{
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 0px;
    z-index: 1;
  }

  #scroll-indicator-container1{
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 0px;
    z-index: 1;
  }

  .scroll-indicator {
    position: absolute;
    margin-top: 120px;
    font-size: 20px;
    width: 100%;
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
  }

  .scroll-indicator1 {
    position: absolute;
    margin-top: -15px;
    font-size: 20px;
    width: 100%;
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
  }

  @-webkit-keyframes bounce {
    0% { top: 15%; }
    50%   { top: 20%; }
    100% { top: 15%; }
  }

  @keyframes bounce {
    0% { top: 15%; }
    50%   { top: 20%; }
    100% { top: 15%; }
  }

  .marker {
    position: absolute;
    z-index: 5;
    top: 20%;
    left: 30%;
    font-size: 0;
    cursor: pointer;
    transform: perspective(600px) rotateY(0deg);
    opacity: 1;
    transition: all .5s ease .4s;

    &.inactive {
      transform: perspective(600px) rotateY(-90deg);
      opacity: 0;
      transition: all .5s ease;
    }

    svg {
      fill: #E9373E;
      animation: hovering 1s ease-in-out infinite alternate;
    }

    .shadow {
      width: 18px;
      height: 4px;
      background: black;
      border-radius: 50%;
      margin: 5px auto 0 auto;
      animation: shadow 1s ease-in-out infinite alternate;
    }
  }

  @keyframes hovering {
    from {
      transform: translate3d(0,0,0);
    }
    to {
      transform: translate3d(0,-5px,0);
    }
  }

  @keyframes shadow {
    from {
      transform: scale(1) translate3d(0,0,0);
    }
    to {
      transform: scale(1.25) translate3d(0,0,0);
    }
  }

  .poiIcon{
    width: 30px;
    right: 3px;
    position: absolute;
  }
  .POI-icon-1{content: url(../assets/img/markers/plazacobro_.png);}
  .POI-icon-2{content: url(../assets/img/markers/gasolinera_.png);}
  .POI-icon-3{content: url(../assets/img/markers/sm_.png);}
  .POI-icon-4{content: url(../assets/img/markers/parador_.png);}
  .POI-icon-5{content: url(../assets/img/markers/torre_.png);}
  .POI-icon-6{content: url(../assets/img/markers/hotel_.png);}
  .POI-icon-7{content: url(../assets/img/markers/vulca_.png);}
  .POI-icon-8{content: url(../assets/img/markers/abarrotes_.png);}
  .POI-icon-9{content: url(../assets/img/markers/refa_.png);}
  .POI-icon-10{content: url(../assets/img/markers/comida_.png);}
  .POI-icon-11{content: url(../assets/img/markers/entronques_.png);}
  .POI-icon-12{content: url(../assets/img/markers/gobermatico_.png);}

}

#tramos-icon{
  content: url("../assets/img/paths-icon.png");
  width: 80px;
}
