<ion-header>

  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tramos carreteros</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col col-12 col-sm no-padding>
      <ion-card>
        <ion-item-divider>
          <ion-title>
            Tramos carreteros
          </ion-title>
        </ion-item-divider>

        <ion-card-content>
          <ion-row>
            <ion-col col-12 col-sm no-padding>
              <ion-grid>
                <ion-row  (click)="showModalTramos()">
                  <ion-col>
                    <div align="center" style="width: 100%;height: 100%">
                      <div class="marker">
                        <svg width="40px" height="40px" viewBox="0 0 48 72">
                          <path d="M24,0 C11.406,0 0,10.209 0,22.806 C0,35.4 10.407,50.436 24,72 C37.593,50.436 48,35.4 48,22.806 C48,10.209 36.597,0 24,0 L24,0 Z M24,33 C19.029,33 15,28.971 15,24 C15,19.029 19.029,15 24,15 C28.971,15 33,19.029 33,24 C33,28.971 28.971,33 24,33 L24,33 Z"></path>
                        </svg>
                        <div class="shadow"></div>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col>
                    <a>Seleccione el tramo o tramos de su preferencia</a>
                  </ion-col>
                </ion-row>
                <ion-row padding-top *ngIf="numSelectedTramos > 0" (click)="showModalTramos()">
                  Tramos actualmente seleccionados ({{numSelectedTramos}}):
                </ion-row>
                <br>
                <ion-row *ngIf="numSelectedTramos > 0">
                  <ion-col>
                    <ion-row style="margin-top: -30px;" *ngIf="numSelectedTramos > 7 ">
                      <div id="scroll-indicator-container1">
                        <div class="scroll-indicator1">
                          <ion-icon name="ios-arrow-up" *ngIf="scrollStart != false"></ion-icon>
                        </div>
                      </div>
                    </ion-row>

                    <ion-row>
                      <ion-col>
                        <div id="scrolled-list" class="scrolled-list" (scroll)="onScrollEvent($event)">
                          <div *ngFor="let tramo of catTramos.tramos" [hidden]="tramo.selected == false || tramo.selected == 0">
                            {{tramo.nombre}}
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>

                    <ion-row style="margin-top: -30px;" *ngIf="numSelectedTramos > 7 ">
                      <div id="scroll-indicator-container" >
                        <div class="scroll-indicator">
                          <ion-icon name="ios-arrow-down" *ngIf="scrollEnd == false"></ion-icon>
                        </div>
                      </div>
                    </ion-row>

                  </ion-col>

                  <!--<ion-col>
                    <ion-scroll scrollY="true">
                      <ion-row *ngFor="let tramo of catTramos.tramos" [hidden]="tramo.selected == false || tramo.selected == 0">
                        <b style="color: green; border-bottom: 1px solid green; width: 100%">{{tramo.nombre}}</b>
                      </ion-row>
                    </ion-scroll>
                  </ion-col>-->
                </ion-row>
              </ion-grid>
            </ion-col>

            <ion-col col-12 col-sm >
              <ion-card-header style="white-space: normal; text-overflow: clip">
                Deseo visualizar y recibir notificaciones de los tramos seleccionados sobre:
              </ion-card-header>
              <ion-item>
                <ion-label>Obras</ion-label>
                <ion-checkbox color="dark"
                              [(ngModel)]="mustShowObras" disabled="{{!numSelectedTramos}}"
                              (click)="toggleShowObras()"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Incidentes</ion-label>
                <ion-checkbox color="danger"
                              [(ngModel)]="mustShowIncidencias" disabled="{{!numSelectedTramos}}"
                              (click)="toggleShowIncidentes()"></ion-checkbox>
              </ion-item>
              <ion-card-header style="white-space: normal; text-overflow: clip">
                Deseo visualizar información sobre:
              </ion-card-header>
              <ion-item>
                <ion-label>Tráfico</ion-label>
                <ion-checkbox color="primary" [(ngModel)]="mustShowTrafico" (click)="toggleShowTrafico()"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col no-padding>
      <ion-card>
        <ion-item-divider>
          <ion-title>
            Puntos de interés
          </ion-title>
        </ion-item-divider>
        <ion-card-content>
          <ion-row>
            <ion-col col-12 col-sm no-padding>
              <ion-grid>
                <ion-row (click)="showModalPOI()">
                  <ion-col>
                    <div align="center" style="width: 100%;height: 100%">
                      <div class="marker">
                        <svg width="40px" height="40px" viewBox="0 0 48 72">
                          <path d="M24,0 C11.406,0 0,10.209 0,22.806 C0,35.4 10.407,50.436 24,72 C37.593,50.436 48,35.4 48,22.806 C48,10.209 36.597,0 24,0 L24,0 Z M24,33 C19.029,33 15,28.971 15,24 C15,19.029 19.029,15 24,15 C28.971,15 33,19.029 33,24 C33,28.971 28.971,33 24,33 L24,33 Z"></path>
                        </svg>
                        <div class="shadow"></div>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col>
                    <a>Seleccione los puntos de interés que desea visualizar</a>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-12 col-sm>
              <div *ngIf="numSelectedPOI > 0 && numSelectedTramos > 0">
                <hr>
                <ion-row>
                  <ion-col>
                    Puntos de interés seleccionados ({{numSelectedPOI}}):
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let poi of catPOI.poi" [hidden]="poi.selected == false || poi.selected == 0">
                  <ion-col col-10 style="color: green; border-bottom: 1px solid green; padding-top:10px">
                    <b >{{poi.nombre}}</b>
                  </ion-col>
                  <ion-col col-2 style="border-bottom: 1px solid green;">
                    <div class="poiIcon POI-icon-{{poi.id}}"></div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
