tab-lista {
  .w3-container{
    padding: 0.05em 0 0 0;
    margin-left: -3px;
    margin-right: -7px;
  }
  .w3-tiny {
    font-size: 10px!important;
  }

  .w3-light-grey, .w3-light-gray {
    color: #000!important;
    background-color: #f1f1f1!important;
    text-align: center;
    margin-left: -4px;
  }

  .w3-round-xlarge {
    border-radius: 16px;
  }

  .w3-blue {
    color: #fff!important;
    background-color: #2196F3!important;
  }
  .w3-green {
    color: #000!important;
    background-color: #3cd400 !important;
  }
}
