<ion-header>

  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Tramos</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="w3-light-grey w3-round-xlarge w3-tiny" *ngIf="progressBarValue>0 && progressBarValue<100">
    <div class="w3-container w3-round-xlarge w3-green" [style.width.%]="progressBarValue">{{progressBarValue|number:'1.0-0'}}%</div>
  </div>
  <ion-card>
    <ion-card-content no-padding="">
      <div *ngFor="let tramo of tramosList">
        <div style="background-color: #00A35D; padding-top: 5px">
          <div text-center="">
            <b style="color: white; margin-top: 20px">
              TRAMO: {{tramo.nombre}}
            </b>
          </div>

          <div style="color: white; margin-left: 8px">
              Longitud: {{tramo.longitudText}}
          </div>
          <div style="color: white; margin-left: 8px">
              Duración estimada: {{tramo.duracionText}}
          </div>

          <div *ngFor="let incidencia of tramo.incidentes" style="background-color: #FFFFA2; padding: 5px">
            <img src="assets/img/markers/{{incidencia.idtipo == 2 ?'personas_': 'accidente_'}}.png"
                 style="position: relative; height: 23px; width: 23px; left: auto; display: initial">

            <span style="margin-left: 8px;">{{incidencia.ficha || "Sin descripción"}}</span>
          </div>
          <div *ngFor="let obra of tramo.obras" style="background-color: #ffd680; padding: 5px">
            <img src="assets/img/markers/labor_.png"
                 style="position: relative; height: 23px; width: 23px; left: auto; display: initial">

            <span style="margin-left: 8px;">Tipo: {{obra.tipo || "Tipo desconocido"}}; {{obra.cuerpo || "Sin descripción"}}</span>
          </div>
          <hr style="padding-bottom: 2px; border: 1px solid white">
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
