
<ion-header>

  <ion-navbar color="capufe_gray">
    <ion-title>Administrar Datos</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-item-divider>
      <ion-title>Mis datos</ion-title>
    </ion-item-divider>
    <div padding>
          <label>
            <b>RFC</b>: {{user.rfc}}
          </label>
          <hr>

          <div class="item">
            <div align="left">
              <div class="col">
                <h2> Dirección</h2>
              </div>
            </div>

            <hr>

            <ion-row>
              <ion-col col-20 >
                <b>Calle</b>:
              </ion-col>
              <ion-col col-80 style="text-align:left">
                {{user.dirCalle}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-20>
                <b>No</b>.:
              </ion-col>
              <ion-col col-80>
                {{user.dirNumero}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-20>
                <b>Col</b>.:
              </ion-col>
              <ion-col col-80>
                {{user.dirColonia}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-20>
                <b>CP</b>.:
              </ion-col>
              <ion-col col-80>
                {{user.dirCP}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-20>
                <b>Estado</b>:
              </ion-col>
              <ion-col col-80>
                {{user.dirEstado}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-20>
                <b>País</b>:
              </ion-col>
              <ion-col col-80>
                {{user.dirPais}}
              </ion-col>
            </ion-row>
          </div>
          <br>
          <div align="center">
            <button ion-button button-positive button-full button-small (click)='editFacturaData()'>
              Editar
            </button>
          </div>
      </div>
  </ion-card>

</ion-content>
