<ion-header>
  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cultura vial</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col col-12 col-sm >
      <ion-card style="height: 75% auto" (click)="goTo('culturaVialSenales')">
        <img src="./assets/img/background_road1_1.jpg"/>
        <div class="card-title">Significado señalizaciones</div>
      </ion-card>
    </ion-col>

    <ion-col col-12 col-sm style="height: auto" >
      <ion-card style="height: 75% auto" (click)="goTo('culturaVialConsejos')">
        <img src="./assets/img/background_road2_1.jpg"/>
        <div class="card-title">Consejos Prácticos</div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12 col-sm>
      <ion-card>
        <ion-item-divider>
          <ion-title>
            Lista de verificación
          </ion-title>
        </ion-item-divider>
        <ion-card-content>
          <div text-justify>
            Tu bienestar nos interesa, por eso te pedimos verificar los siguientes aspectos de tu vehículo
            antes de salir a carretera.
          </div>

          <ion-list>
            <ion-item>
              <ion-label>Nivel de combustible</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Nivel de agua/refrigerante</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Nivel de batería</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Líquido de frenos</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Llantas en buen estado</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Presión adecuada en llantas</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Luces frontales y traseras</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Cinturones de seguridad</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Saldo en tarjeta IAVE/TAG</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
