// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background-md{
  background: url(../assets/img/warmup-bg.png) 0px 0px;
  background-size: contain;
}

.toolbar-content{
  .toolbar-title{
    color:white
  }
}

.toolbar{
  button{
    color:white
  }
}

/*
.content{
  background: url(../assets/img/main-bg.png) no-repeat center;
  background-size:cover;
}

.card{
  background: rgba(86,86,86,.5);
  .card-header{
    color:white;
  }

  .item{
    background:none;
  }
}*/



.item-divider-md, .item-divider-ios{
  //background: linear-gradient(0deg, #797979, #FFF, #bdbdbd);
  //color: #008249;
  background-image: url('../assets/img/banner_card_green.jpg');
  color:white;
}

.item-divider-md .toolbar-title,
.item-divider-ios .toolbar-title{
  color: white;
}

.item-input ion-input,
.item-input ion-textarea{
  border: 1px solid green;
  border-radius: 10px;
  padding-left: 3px;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block,
.list-md .item-input.input-has-focus:last-child,
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
  box-shadow: none;
  border-bottom: none;
}

.item-md.item-input.input-has-focus .item-inner,
.item-ios.item-input.input-has-focus .item-inner,
.item-textarea.item-md.item-block.input-has-focus .item-inner,
.item-textarea.item-ios.item-block.input-has-focus .item-inner{
  border-bottom-color: #378c42;
  box-shadow: inset 0px -3px 0px 0px #378c42;

  padding-right: 0px;
  border-radius: 11px;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner{
  border-bottom-color: #f53d3d;
  box-shadow: inset 0 -3px 0 0 #f53d3d;

  padding-right: 0px;
  border-radius: 11px;
}

.item-input .label-md,
.item-input .label-ios,
.item-select .label-md,
.item-select .label-ios,
.item-datetime .label-md,
.item-datetime .label-ios
{
  color: #002f00;
}
.radio-ios .radio-icon {
  position: relative;
  display: block;
  width: 21px;
  height: 21px;
  border: 1px solid #c8c7cc;
  border-radius: 50%;
  background-color: #fff;
}

.radio-ios .radio-checked{
  background-color: #dedede;
}

.tabActive{/*Tab del menu lateral*/
  font-weight: bold;
  color: red
}

a{
  text-decoration: underline;
}

.tabs-md .tabbar {
  /*background: url(../assets/img/warmup-bg.png) 0px -34px no-repeat;
  background-size: cover;*/
  //background: #338030;
}

.backgroundIMG{content: url("../assets/img/skyline_mexico1.jpg")}
.avatar-boy{content: url("../assets/img/avatars/boy.png")}
.avatar-girl{content: url("../assets/img/avatars/girl.png")}
.avatar-female{content: url("../assets/img/avatars/female.png")}
.avatar-male{content: url("../assets/img/avatars/male.png")}
.avatar-malecostume{content: url("../assets/img/avatars/malecostume.png")}
.avatar-matureman1{content: url("../assets/img/avatars/matureman1.png")}
.avatar-supportfemale{content: url("../assets/img/avatars/supportfemale.png")}
.avatar-supportmale{content: url("../assets/img/avatars/supportmale.png")}
.avatar-matureman2{content: url("../assets/img/avatars/matureman2.png")}
.avatar-maturewoman{content: url("../assets/img/avatars/maturewoman.png")}
.avatar-unknown{content: url("../assets/img/avatars/unknown.png")}


.imgMenu074{content: url("../assets/img/sideMenu-icons/app-icon.png")}
.imgMenuTAG{content: url("../assets/img/sideMenu-icons/IAVE-car.png")}
.imgMenuSolicitud{content: url("../assets/img/sideMenu-icons/solicitud.png")}
.imgMenuSenhales{content: url("../assets/img/sideMenu-icons/cultura-vial.png")}
.imgMenuAlertaAmber{content: url("../assets/img/sideMenu-icons/alertaAmber.png")}
.imgMenuComSocial{content: url("../assets/img/sideMenu-icons/comunicacion.png")}
.imgMenuPerfil{content: url("../assets/img/sideMenu-icons/perfil.png")}
.imgMenuJuego{content: url("../assets/img/sideMenu-icons/game.png")}
.imgMenuRA{content: url("../assets/img/sideMenu-icons/ra.png")}




.snip1336 {
  position: relative;
  float: left;
  margin: 0px 0%;
  width: 100%;
  color: white;
  text-align: left;
  line-height: 1.4em;
  background-color: black;
}

.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #008337;
  padding: 25px;
  position: relative;
  border-style: none;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #008337;
}

.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}


.navbarImg{
  content: url("../assets/img/CAPUFE.png");
  position: absolute;
  left: 80%;
  width: 60px;
  height: 30px;
  top: 20%;
}

.navbarImg1{
  content: url("../assets/img/sideMenu-icons/074_capufe.jpg");
  position: absolute;
  width: 80px;
  height: 40px;
  top: 73%;
  left: 66%;
}


.navbarLeftImg{
  content: url("../assets/img/CAPUFE.png");
  position: absolute;
  left: 5%;
  width: 60px;
  height: 30px;
  top: 20%;
}

.isOffLine{
  background-color:#f00;
}
