<ion-menu [content]="content" id="menu1">
  <ion-header>

    <figure class="snip1336">
      <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />-->
      <img src="assets/img/skyline_mexico1.jpg" alt="sample87" />
      <figcaption>
        <img class='avatar-{{avatarName}} profile' alt="profile-sample4"  />
        <h2>{{fullName}}</h2>
      </figcaption>
    </figure>



    <!--<figure class="snip1336">
      <img class="backgroundIMG" alt="" />
      <figcaption>
        <img class='avatar-{{avatarName}} profile'   />
        <h2>{{fullName}}</h2>
      </figcaption>
    </figure>

    <ion-toolbar>
      <ion-title>
        <img class='avatar-{{avatarName}}' alt='' width='40px'> {{fullName}}
      </ion-title>
    </ion-toolbar>-->

    <img class="navbarImg1" alt="">

  </ion-header>

  <ion-content>
    <ion-list>
      <!--<button
        menuClose ion-item
        *ngFor="let p of pages"
        (click)="openPage(p)" [ngClass]="{'tabActive': activePage == p.title}">
        {{p.title}}
      </button>-->

      <ion-item menuClose *ngFor="let p of menuEntries" (click)="openPage(p)" [ngClass]="{'tabActive': activePage == p.title}">
        <ion-avatar item-left>
          <img class="{{p.title=='Mi cuenta'? 'avatar-'+avatarName:p.icon}}" alt="">
        </ion-avatar>
        <h2>{{p.title}}</h2>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false">
  Hola mundo!
</ion-nav>
