<ion-header>

  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Realizar solicitud</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>


  <ion-card>
    <ion-item-divider>
      <ion-title>
        Elija un servicio
      </ion-title>
    </ion-item-divider>

    <ion-card-content>
      <ion-list>
        <ion-list radio-group [(ngModel)]="idtipoemergencia">
          <ion-grid>
            <ion-row responsive-sm>
              <ion-col *ngFor="let e of catEmergencias" [hidden]="e.idtipoemergencia != 2 && e.idtipoemergencia != 3">
                <ion-row>
                  <ion-item >
                    <ion-label text-center *ngIf="e.idtipoemergencia == 2 || e.idtipoemergencia == 3">
                      <img
                        class="solicitud-icon {{e.idtipoemergencia == 2?'grua':
                e.idtipoemergencia == 3 ? 'ambulancia':
                e.idtipoemergencia == 4 ? 'patrulla':''}}-icon"
                      >
                      <div>{{e.nombre}}</div>
                    </ion-label>
                    <ion-radio value="{{e.idtipoemergencia}}"  *ngIf="e.idtipoemergencia == 2 || e.idtipoemergencia == 3"></ion-radio>
                  </ion-item>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-item>
          <ion-label stacked="">Detalles:</ion-label>
          <ion-textarea minlength="10" maxlength="500" rows="6" [(ngModel)]="detalles"></ion-textarea>
        </ion-item>
      </ion-list>
      <br>
      <div align="center">
        <button
          ion-button
          [class.isOffLine]="!isOnLine"
          (click)="enviarSolicitud()"
          [disabled]="!isLoggedIn || !idtipoemergencia || detalles.length < 10 || !isOnLine">
          <ion-icon [name]="isOnLine?'':'ios-wifi'"></ion-icon>&nbsp;Solicitar
        </button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
