
<ion-header>

  <ion-navbar>
    <ion-title>Señales informativas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/001.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">AEROPUERTO</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/002.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ALBERGUE</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/003.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ÁREA RECREATIVA</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/004.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">AUXILIO TURÍSTICO</div>
        <div class="text-jutified">
          Esta señal se colocará al inicio del tramo carretero donde se preste este servicio, pudiéndose repetir donde sea necesario.
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/005.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">CAMPAMENTO</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/006.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">CHALANA</div>
        <div class="text-jutified">
          Esta señal podrá llevar una placa adicional donde se indique el horario del servicio.
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/007.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">DEPOSITO DE BASURA</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/008.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ESTACIONAMIENTO</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/009.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ESTACIONAMIENTO PARA CASAS RODANTES</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/010.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ESTACIÓN DE FERROCARRIL</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/011.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">GASOLINERA</div>
        <div class="text-jutified">
          Podrá colocarse a la salida de las poblaciones con una placa adicional indicando la distancia en que se encuentra la próxima estación de combustible.
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/012.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">HELIPUERTO</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/013.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">HOTEL O MOTEL</div>
        <div class="text-jutified">
          Esta señal llevará la leyenda de hotel o motel según el caso.
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/014.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">INFORMACIÓN</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/015.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">METRO</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/016.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">MECÁNICO</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/017.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">MEDICO</div>
        <div class="text-jutified">
          Llevará una placa adicional en la que se indique el tipo de servicio como puede ser Primeros Auxilios u Hospital.
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/018.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">MUELLE</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/019.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PARADA DE AUTOBÚS</div>
        <div class="text-jutified">
          Llevará una placa adicional en la que se indique el número de la ruta y las principales paradas del itinerario.
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/020.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PARADA DE TRANVÍA</div>
        <div class="text-jutified">
          Llevará una placa adicional en la que se indique el número de la ruta y las paradas principales del itinerario.
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/021.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">RESTAURANTE</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/022.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">SANITARIOS</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/023.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">TAXI</div>
        <div class="text-jutified">
          Llevará una placa Adicional en la que se indique el tipo de servicio, ya sea colectivo o de sitio. En caso de ser colectivo, la placa llevará el número de la ruta y las principales paradas del itinerario.
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/024.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">TELEFÉRICO</div>
        <div class="text-jutified">
          Esta señal podrá llevar una placa adicional donde se indique el horario del servicio.
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/025.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">TELÉFONO</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/026.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">TRANSBORDADOR</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/027.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ACUEDUCTO</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/028.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ARTESANÍAS</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/029.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">BALNEARIO</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/030.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">CASCADA</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/031.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">GRUTA</div>
        <div class="text-jutified">
          Esta señal podrá llevar una placa adicional donde se indique el horario del servicio.
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/032.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">LAGO-LAGUNA</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/033.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">MONUMENTO COLONIAL</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/034.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">NACIONAL</div>
        <div class="text-jutified">
          Esta señal podrá llevar una placa adicional donde se indique el horario del servicio.
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/035.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PLAYA</div>
        <div class="text-jutified">
        </div>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/informativas/036.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ZONA ARQUEOLÓGICA</div>
        <div class="text-jutified">
          Esta señal podrá llevar una placa adicional donde se indique el horario del servicio.
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
