<ion-header>

  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Costos de tramos</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row>
    <ion-col col-12 col-sm>
        <ion-card>
          <ion-item-divider>
            <ion-title>Selección de tramo</ion-title>
          </ion-item-divider>
          <ion-list padding>
            <ion-item>
              <ion-label>Tramo</ion-label>
              <ion-select [(ngModel)]="tramos" (ngModelChange)="onChange()" cancelText="Cancelar" okText="Aceptar">
                <ion-option value="1">ACATZINGO - CIUDAD DE MÉXICO</ion-option>
                <ion-option value="2">ACAYUCAN - COSOLEACAQUE</ion-option>
                <ion-option value="3">ALAZAN - CANOAS</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card>
    </ion-col>
    <ion-col col-12 col-sm>
        <ion-card>
          <ion-item-divider>
            <ion-title>Tipo de vehiculo</ion-title>
          </ion-item-divider>
          <ion-list padding>
            <ion-item>
              <ion-label >Clase</ion-label>
              <ion-select [(ngModel)]="vehTipo" (ngModelChange)="onChange1()" cancelText="Cancelar" okText="Aceptar">
                <ion-option value="1">Automóvil</ion-option>
                <ion-option value="2">Autobús</ion-option>
                <ion-option value="3">Cabezales</ion-option>
                <ion-option value="4">Cuadrimoto</ion-option>
                <ion-option value="5">Tricimoto</ion-option>
                <ion-option value="6">Microbús</ion-option>
                <ion-option value="7">Motocicletas</ion-option>
                <ion-option value="8">Panel</ion-option>
                <ion-option value="9">Pick Up</ion-option>
                <ion-option value="10">Remolques</ion-option>
                <ion-option value="11">Camiones</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card>
    </ion-col>
  </ion-row>


  <ion-card [hidden]="ok" class="fade_in_one">
    <ion-item-divider>
      <ion-title>Costo aproximado</ion-title>
    </ion-item-divider>
    <div align="center" padding>
        <span>$95</span>
    </div>
  </ion-card>


</ion-content>
