<ion-header>

  <ion-navbar color="capufe_gray">
    <ion-title>Administrar Tarjetas</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>

<ion-card>
    <ion-item-divider>
      <ion-title>Tarjetas Bancarias</ion-title>
    </ion-item-divider>
    <div class="item-body" style="padding: 0; margin: 0" padding>
        <table style="width: 100%;">
          <thead class="fileTableHeader" ng-show="cardList.length">
            <tr>
              <th ng-click="sortByNum()">
                <a href="" class="{{numSortClass}}">  No.</a>
              </th>
              <th ng-click="sortByTipo()">
                <a href="" class="{{tipoSortClass}}">  Tipo</a>
              </th>
              <th ng-click="sortByTipo()">
                <a href="" class="{{numeroSortClass}}"> Terminación</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-class-odd="'odd'" ng-class-even="'even'"
              *ngFor="let card of cardList">
              <td class="fileTableCol" style="text-align:center">{{card.id}}</td>
              <td class="fileTableCol" style="text-align:center">{{card.type}}</td>
              <td class="fileTableCol" style="text-align:right">
                {{card.number}}&emsp;
                <!--<img style='margin: auto auto -6px auto;' src="img/delete-icon.png" alt="" ng-click="deleteCard(card.id)">&emsp;-->
              </td>
            </tr>
            <tr [hidden]="cardList.length">
              <td colspan="3"  style="text-align: center">
                No hay tarjetas bancarias registradas
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <div align="center">
          <button ion-button button-positive button-full button-small (click)="addCard()">
            Agregar otra
          </button>
        </div><br>
      </div>
</ion-card>

</ion-content>
