<ion-header>

  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Seguimiento</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-item-divider>
      <ion-title>
        # {{reportesList.length}} Reportes
      </ion-title>
    </ion-item-divider>

    <div align="center" *ngIf="reportesList.length">
      <br>
      <button ion-button icon-left (click)="sortByProperty('tipo')">Tipo &nbsp;
        <ion-icon name="md-arrow-drop{{orderType}}" *ngIf="orderAttr == 'tipo'"></ion-icon>
      </button>

      <button ion-button icon-left (click)="sortByProperty('fhabrio')">Fecha &nbsp;
        <ion-icon name="md-arrow-drop{{orderType}}" *ngIf="orderAttr == 'fhabrio'"></ion-icon>
      </button>

      <button ion-button icon-left (click)="sortByProperty('idreporte')">Folio &nbsp;
        <ion-icon name="md-arrow-drop{{orderType}}" *ngIf="orderAttr == 'idreporte'"></ion-icon>
      </button>
      <br>
    </div>

    <ion-list>
      <ion-item *ngFor="let reporte of reportesList | orderBy : order"(click)="showDetails(reporte)">
        <ion-avatar item-left>
          <img class="backgroundIMG_reporte">
        </ion-avatar>
        <h2>{{reporte.tipo}}: {{reporte.subtipo}}</h2>
        <p>{{reporte.fhabrio}}</p>
        <button ion-button clear item-right>{{reporte.idreporte}}</button>
      </ion-item>
      <ion-item [hidden]="reportesList.length" style="background: black;color: white">
        <div align="center">
          A&uacute;n no ha realizado reportes.
        </div>
      </ion-item>
    </ion-list>

  </ion-card>
</ion-content>
