<ion-header>

  <ion-navbar color="capufe_gray">
    <ion-title>Recargar TAG</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-item-divider>
      <ion-title>Recarga tu TAG</ion-title>
    </ion-item-divider>

    <ion-list>

      <ion-item>
        <ion-label>TAG</ion-label>
        <ion-select [(ngModel)]="selectedTAG" (ngModelChange)="onTAGChange()">
          <ion-option *ngFor="let tag of userTAG" [value]="tag.id">{{tag.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary" fixed>Cantidad</ion-label>
        <ion-input type="number" placeholder="$"></ion-input>
      </ion-item>
      <br>
      <hr>
      <br>

      <ion-item>
        <ion-label>Cargar esta tarjeta</ion-label>
        <ion-select [(ngModel)]="selectedCard" (ngModelChange)="onCardChange()">
          <ion-option *ngFor="let card of userCards" [value]="card.id">{{card.number}} ({{card.type}})</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <br>
    <div align="center">
      <button ion-button button-positive button-full button-small (click)="doRecharge()">
        Recargar
      </button>
    </div>
    <br>

  </ion-card>

</ion-content>
