page-modal-poi {
  .poiIcon{
    width: 30px;
    right: 3px;
    position: absolute;
    top: 10px;
  }
  .POI-icon-1{content: url(../assets/img/markers/plazacobro_.png);}
  .POI-icon-2{content: url(../assets/img/markers/gasolinera_.png);}
  .POI-icon-3{content: url(../assets/img/markers/sm_.png);}
  .POI-icon-4{content: url(../assets/img/markers/parador_.png);}
  .POI-icon-5{content: url(../assets/img/markers/torre_.png);}
  .POI-icon-6{content: url(../assets/img/markers/hotel_.png);}
  .POI-icon-7{content: url(../assets/img/markers/vulca_.png);}
  .POI-icon-8{content: url(../assets/img/markers/abarrotes_.png);}
  .POI-icon-9{content: url(../assets/img/markers/refa_.png);}
  .POI-icon-10{content: url(../assets/img/markers/comida_.png);}
  .POI-icon-11{content: url(../assets/img/markers/entronques_.png);}
  .POI-icon-12{content: url(../assets/img/markers/gobermatico_.png);}
}
