<ion-header>
  <ion-toolbar color="capufe_gray">
    <ion-title style="padding-left: 25%">Puntos de interés</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <img class="navbarLeftImg" alt="">
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item
      *ngIf="numSelectedPOI < catPOI.poi.length">
      <ion-label>Seleccionar todos</ion-label>
      <ion-checkbox (click)="selectAllPOI()"></ion-checkbox>
    </ion-item>
    <ion-item
      *ngIf="numSelectedPOI == catPOI.poi.length">
      <ion-label>Quitar todos</ion-label>
      <ion-checkbox (click)="unselectAllPOI()"></ion-checkbox>
    </ion-item>
    <ion-item
      *ngFor="let poi of catPOI.poi; let id = index">
      <ion-label>
        {{poi.nombre}}
        <div class="poiIcon POI-icon-{{poi.id}}"></div>
      </ion-label>
      <ion-checkbox
        [checked]="poi.selected == true || poi.selected == 1"
        (click)="togglePOI(id, poi.id)"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
