<ion-header>

  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi ubicación</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm>
          <ion-card style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
            <div class="bannerCard" style="width: 100%;height: 20px">
            </div>
            <div padding>
               <b>Tu ubicacion actual es:</b>
                <ion-icon ios="ios-locate" md="md-locate" class="iconUbicacion1"></ion-icon>
              <hr>
              <div *ngIf="tramoDetail.tramoData.nombre == ''">
                  <br>
                  <h2> Ubicación Desconocida...</h2> 
                  <br>
                  <ion-icon name="alert" color="danger" class="iconUbicacion2"></ion-icon>
              </div>
              <div *ngIf="tramoDetail.tramoData.nombre != ''">
                Tramo:      {{tramoDetail.tramoData.nombre    || "Desconocido"}}<br>
                Acrónimo:   {{tramoDetail.tramoData.acronimo  || "Desconocido"}}<br>
                Autopista:  {{tramoDetail.tramoData.autopista || "Desconocido"}}<br>
                KM:         {{tramoDetail.km                  || "Desconocido"}}<br>
              </div>
            </div>
          </ion-card>
      </ion-col>
      <ion-col col-12 col-sm>
          <ion-card style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
            <div class="bannerCard" style="width: 100%;height: 20px">
            </div>
            <div>
                <div class="text-center" *ngIf="!isSessionOK || !isOnRoad || !isOnLine || !isGpsEnabled">
                  <div padding="" style="font-weight: bold; color: red;">No será posible usar las siguientes funciones debido a que: <hr></div>
                  <ion-grid>
                    <ion-row *ngIf="!isSessionOK">
                      <ion-col col-2>&nbsp;<ion-icon name="lock" class="iconColor"></ion-icon></ion-col>
                      <ion-col col-10>Aún no has iniciado sesión</ion-col>
                    </ion-row>
                    <ion-row *ngIf="!isOnLine">
                      <ion-col col-2><ion-icon name="wifi" class="iconColor"></ion-icon></ion-col>
                      <ion-col col-10>No hay conexión a internet</ion-col>
                    </ion-row>
                    <ion-row *ngIf="!isGpsEnabled">
                      <ion-col col-2><ion-icon name="locate" class="iconColor"></ion-icon></ion-col>
                      <ion-col col-10>La geolocalización no está habilitada</ion-col>
                    </ion-row>
                    <ion-row *ngIf="!isOnRoad">
                      <ion-col col-2>&nbsp;<ion-icon name="pin" class="iconColor"></ion-icon></ion-col>
                      <ion-col col-10>No fue posible determinar su ubicación dentro de la Red CAPUFE</ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
            </div>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list no-border no-lines>
    <ion-item *ngIf="isSessionOK && isOnRoad && isOnLine">
        <br><br><br>
        <button class="video-play-button" [disabled]="false" (click)="onPressBtn(1)">
          <span class="spanHelp"></span>
        </button>
        <br><br><br>
    </ion-item>

    <ion-item *ngIf="!isSessionOK || !isOnRoad || !isOnLine" (click)="onPressBtnError()">
      <br><br><br>
        <button class="video-play-button" [disabled]="true">
          <span class="spanHelp"></span>
        </button>
      <br><br><br>
    </ion-item>
  </ion-list>

</ion-content>
