tab-ubicacion {

}

.emergency-button{
  margin-top:5px;
  margin-bottom:5px;
}

/*.topButton{
  content: url(../assets/img/Ambulancia-btn.png);
}

.midleButton{
  content: url(../assets/img/Bomberos-btn.png);
}

.bottomButton{
  content: url(../assets/img/Policia-btn.png);
}*/

.emergency-button-enabled{
  content: url(../assets/img/sos-button-enabled.png);
  width:50%
}

.emergency-button-disabled{
  content: url(../assets/img/sos-button-disabled.png);
  width:50%;
}

.bannerCard{
  background: url('../assets/img/banner_card_green.jpg') no-repeat;
  background-size: cover;
  border-style: none;
}

.iconColor{
  color:#338030;
  font-size: 25px;
}

.iconUbicacion1{
  position: absolute;
  top: 42px;
  right: 10%;
  color:black;
  font-size: 25px
}

.iconUbicacion2{
  position: absolute;
  top: 100px;
  right: 10%;
  font-size: 25px;
}







.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fa183d;
  border-radius: 50%;
  transition: all 200ms;
}


.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.spanHelp {
  display: block;
  position: relative;
  z-index: 3;
  width: 60px;
  left: -18px;
  top: -7px;
  height: 60px;
  content: url("../assets/img/click.png");
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
