page-tag {

  ion-card.card{
    min-height: 300px;
  }

  .TI-1{content: url("../assets/img/tab-icons/tag_movs.png");}
  .TI-2{content: url("../assets/img/tab-icons/tag_factura.png");}
  .TI-3{content: url("../assets/img/tab-icons/tag_recargar.png");}
  .TI-4{content: url("../assets/img/tab-icons/tag_saldo.png");}
  .TI-5{content: url("../assets/img/tab-icons/tag_admin.png");}
  .TI-6{content: url("../assets/img/tab-icons/credit_card.png");}
  .TI-7{content: url("../assets/img/tab-icons/admin_personalData.png");}
}
