<ion-header>
  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TAG</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid no-padding="">
    <ion-row>
      <ion-col col-12 col-sm>
        <ion-card>
          <ion-item-divider>
            <ion-title>Movimientos y Facturas</ion-title>
          </ion-item-divider>
          <br>
          <ion-row>
            <ion-col width-50>
              <div align="center" (click)="goTo('mov')">
                <img class="TI-1" style="width:120px" alt="">
                <h2 class="title">Movimientos</h2>
              </div>
            </ion-col>
            <ion-col width-50>
              <div align="center" (click)="goTo('fac')">
                <img class="TI-2" style="width:90px" alt="">
                <h2 class="title">Facturas</h2>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm>
        <ion-card>
          <ion-item-divider>
            <ion-title>Administrar mis TAG</ion-title>
          </ion-item-divider>
          <br>
          <ion-row>
            <ion-col width-50>
              <div align="center" (click)="goTo('recTAG')">
                <img class="TI-3" style="width:100px" alt="">
                <h2 class="title">Recargar TAG</h2>
              </div>
            </ion-col>
            <ion-col width-50>
              <div align="center" (click)="goTo('conTAG')">
                <img class="TI-4" style="width:100px" alt="">
                <h2 class="title">Consultar saldo TAG</h2>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-50>
              <div align="center" (click)="goTo('admTAG')">
                <img class="TI-5" style="width:100px" alt="">
                <h2 class="title" >Administrar TAG</h2>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm>
        <ion-card>
          <ion-item-divider>
            <ion-title>Administración de Datos</ion-title>
          </ion-item-divider>
          <br>
          <ion-row>
            <ion-col width-50>
              <div align="center" (click)="goTo('admTAR')">
                <img class="TI-6" style="width:110px" alt="">
                <h2 class="title">Administrar mis Tarjetas</h2>
              </div>
            </ion-col>
            <ion-col width-50>
              <div align="center" (click)="goTo('admDF')">
                <img class="TI-7" style="width:70px" alt="">
                <h2 class="title">Administrar Datos de facturación</h2>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
