
<ion-header>

  <ion-navbar>
    <ion-title>Señales Restrictivas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-row>
      <ion-col col-3 >
        <img class="sign-icon" src="./assets/img/signs/restrictivas/001-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ALTO</div>
        <div class="text-jutified">
          El uso de esta señal deberá determinarse siempre mediante un estudio de las condiciones locales del tránsito. En general, esta señal deberá colocarse en los siguientes casos de intersecciones a nivel:
          <ol>
            <li>
              1.- En el cruce de dos carreteras principales.
            </li>
            <li>
              2.- En el entronque de un camino secundario con una carretera principal.
            </li>
            <li>
              3.- En el cruce de una carretera con una vía férrea.
            </li>
            <li>
              4.- En intersecciones urbanas en donde la posibilidad de accidentes haga necesario el uso de esta señal.
            </li>
          </ol>
          En todos los casos, la señal se colocará sobre el camino o calle de menor volumen de tránsito, en el lugar preciso donde deben detenerse los vehículos.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/002-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">CEDA EL PASO </div>
        <div class="text-jutified">
          El uso de esta señal deberá determinarse siempre mediante un estudio de las condiciones locales del tránsito. Esta señal indicará que el conductor debe detenerse o aminorar la velocidad de su vehículo, cuando sea necesario ceder el paso al tránsito al que se incorpora o cruza. La señal de Ceda el Paso no debe considerarse como un sustituto de la señal de alto, cuando ésta sea necesaria.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/003-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">INSPECCIÓN</div>
        <div class="text-jutified">
          Se utilizará para indicar a determinados conductores que deberán detenerse en el lugar para revisión por parte de las autoridades correspondientes. Cada señal llevará un tablero adicional con la leyenda respectiva, tal como ADUANA, BASCULA, FISCAL, FORESTAL, POLICÍA, etc.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/004-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">VELOCIDAD</div>
        <div class="text-jutified">
          Se utilizará para indicar el límite máximo de la velocidad que se fije en el tramo de la carretera o vía urbana, el cual será expresado en múltiplos de 10 con la abreviatura Km./h, con excepción de la velocidad límite de 95 Km./h que únicamente se usará para regular la circulación de los autobuses.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/005-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">VUELTA CONTINUA DERECHA</div>
        <div class="text-jutified">
          Se utilizará en las intersecciones controladas por semáforos o por agentes, en las cuales está permitida la vuelta derecha en forma continua.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/006-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">CIRCULACIÓN</div>
        <div class="text-jutified">
          Se usará en aquellas intersecciones donde sea necesario indicar la obligación de circular en el sentido mostrado, a fin de evitar la invasión de un carril con circulación contraria. La flecha se colocará horizontal o inclinada indicando el sentido del tránsito.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/007-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">CIRCULACIÓN</div>
        <div class="text-jutified">
          Se usará al inicio de una faja separadora central de un camino dividido para indicar la obligación de circular en el sentido mostrado.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/008-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">SÓLO VUELTA IZQUIERDA</div>
        <div class="text-jutified">
          Se usará en ciertas intersecciones para indicar que uno o más carriles deberán usarse exclusivamente para vuelta izquierda y no deberán ser ocupados por vehículos que sigan de frente.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/009-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">CONSERVE SU DERECHA</div>
        <div class="text-jutified">
          Se empleará para indicar a los conductores de camiones que deben transitar por el carril de su derecha, con el fin de dejar libre el carril o carriles de la izquierda para el tránsito de vehículos ligeros.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/010-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">DOBLE CIRCULACIÓN</div>
        <div class="text-jutified">
          Se utilizará en aquellas vías de un sólo sentido, cuando cambien a un tramo de dos carriles en el que se permita la doble circulación. Deberá colocarse al inicio del tramo aludido.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/011-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ALTURA LIBRE RESTRINGIDA</div>
        <div class="text-jutified">
          Se utilizará para indicar que la altura libre de un paso inferior u otra estructura es menor de 4.30 m, y deberá ser colocada en la estructura. La dimensión se indicará en metros con aproximación al decímetro inferior.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/012-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ANCHURA LIBRE RESTRINGIDA</div>
        <div class="text-jutified">
          Se utilizará para indicar que las dimensiones de alguna estructura en el camino no permiten el paso simultáneo de dos vehículos. La anchura se indicará en metros con aproximación al decímetro inferior. Esta señal deberá usarse cuando el ancho de la estructura sea igual o menor de 5.50 metros.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/013-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PESO RESTRINGIDO</div>
        <div class="text-jutified">
          Se utilizará en los puentes u otros lugares del camino donde sea necesario limitar el peso de los vehículos, ya sea por la capacidad de los puentes o por la de la superficie de rodamiento. La señal llevará un tablero adicional en la que se indicará si el peso permitido se refiere al peso máximo del vehículo o al peso máximo por eje. Se usará además una señal igual anticipada, indicando en el tablero adicional la distancia a la que se encuentra la restricción.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/014-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDO REBASAR</div>
        <div class="text-jutified">
          Se empleará para indicar los tramos en los que no se permite rebasar a otro vehículo. Esta señal se complementará siempre con la raya continua marcada en el pavimento y deberá usarse en los tramos de caminos de dos carriles, donde la distancia de visibilidad de rebase está restringida y en la cercanía a los entronques a nivel.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/015-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PARADA PROHIBIDA</div>
        <div class="text-jutified">
          Se utilizará en aquellos lugares donde esté prohibido el ascenso y descenso de pasajeros.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/016-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">NO PARAR</div>
        <div class="text-jutified">
          Se utilizará en aquellos lugares donde no se permita el estacionamiento ni la detención momentánea de vehículos sobre la superficie de rodamiento. Esta señal se usará en las vías rápidas cuando la detención de un vehículo pueda ocasionar accidentes y en las arterias urbanas con altos volúmenes de tránsito, así como en entradas y salidas de emergencia.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/017-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">ESTACIONAMIENTO PERMITIDO EN CORTO PERIODO DENTRO DE UN HORARIO</div>
        <div class="text-jutified">
          Se empleará en aquellos sitios donde sea necesario obtener una mayor utilización del espacio para estacionamiento disponible. La señal llevará un tablero adicional indicando la limitación del horario y los días.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/018-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDO ESTACIONARSE</div>
        <div class="text-jutified">
          Se utilizará en aquellos lugares donde esté prohibido el estacionamiento de vehículos.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/019-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDA LA VUELTA A LA DERECHA</div>
        <div class="text-jutified">
          Se utilizará en aquellos lugares donde no se permita la vuelta a la derecha, ya sea por tratarse de una circulación de sentido contrario o, en casos específicos, para no interferir con otros movimientos importantes.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/021-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDO EL RETORNO</div>
        <div class="text-jutified">
          Se utilizará en aquellas arterias donde la vuelta en “U” pueda representar un riesgo mayor o causar inconvenientes al tránsito de vehículos.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/022-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDO SEGUIR DE FRENTE</div>
        <div class="text-jutified">
          Se empleará al inicio de una calle o carretera en las que no se permita el tránsito de frente, principalmente por el cambio en el sentido de circulación.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/023-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDO EL PASO A BICICLETAS, VEHÍCULOS PESADOS Y MOTOCICLETAS</div>
        <div class="text-jutified">
          Se usará para indicar que se prohíbe la circulación de dichos vehículos en determinado tramo de la carretera o calle. Deberá colocarse al inicio del tramo de referencia.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/024-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDO EL PASO DE  VEHÍCULOS DE TRACCIÓN ANIMAL</div>
        <div class="text-jutified">
          Se usará para indicar que se prohíbe la circulación de dichos vehículos sobre la carretera.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/025-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDO EL PASO DE  MAQUINARIA AGRÍCOLA</div>
        <div class="text-jutified">
          Se usará para indicar que se prohíbe la circulación de dicha maquinaria sobre la carretera.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/026-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDO EL PASO A BICICLETAS</div>
        <div class="text-jutified">
          Se usará en aquellos caminos o calles donde se prohíba la circulación de este tipo de vehículos.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/027-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDO EL PASO DE PEATONES</div>
        <div class="text-jutified">
          Se usará en aquellos sitios en los que el tránsito de vehículos haga peligroso el paso o cruce de peatones y éstos tengan otro lugar por donde transitar o cruzar. Esta señal deberá ser colocada de manera que solo sea visible por los peatones.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/028-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDO EL PASO DE  VEHÍCULOS PESADOS</div>
        <div class="text-jutified">
          Se empleará al principio de rutas en las que no se permita el paso de vehículos pesados. A partir de este punto, dichos vehículos deberán disponer de una ruta alterna, la cual se indicará mediante una señal informativa anticipada.
        </div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <ion-col col-3>
        <img class="sign-icon" src="./assets/img/signs/restrictivas/029-2.png" alt="">
      </ion-col>
      <ion-col col-9>
        <div class="sign-title">PROHIBIDO EL USO DE SEÑALES ACÚSTICAS</div>
        <div class="text-jutified">
          Se utilizará para indicar a los usuarios la prohibición de sonar la bocina, excepto para prevenir un accidente.
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
