<ion-header>

  <ion-navbar color="capufe_gray">
    <ion-title>Admininstrar TAG</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-item-divider>
      <ion-title>Tarjetas TAG</ion-title>
    </ion-item-divider>


      <div class="item-body" style="padding: 0; margin: 0">
        <table style="width: 100%;">
          <thead class="fileTableHeader" [hidden]="!tagList.length">
            <tr>
              <th (click)="sortByNum()" style="text-align:center">
                No.
              </th>
              <th (click)="sortByTipo()" style="text-align:center">
                Nombre
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tag of tagList">
              <td class="fileTableCol" style="text-align:center">{{tag.id}}</td>
              <td class="fileTableCol" style="text-align:right">
                <span>
                  {{tag.name}}&emsp;
                  <!--<img style='width:10%' src="assets/img/delete-icon.png" alt=""(click)="deleteTag(tag.id)">&emsp;
                  <img style='width:10%' src="assets/img/zoom-icon.png" alt="" (click)="editTag(tag)">&emsp;-->
                </span>

              </td>
            </tr>
            <tr [hidden]="tagList.length">
              <td colspan="2"  style="text-align: center">
                No hay tarjetas registradas
              </td>
            </tr>
          </tbody>
        </table>

        <br>
        <div align="center">
          <button ion-button button-positive button-full button-small
            (click)="addTag()">
            Agregar otra
          </button>
        </div>
        <br>

      </div>
    </ion-card>
</ion-content>
