page-tag-admin {
    .fileTableHeader{
        text-align: center;
        background: linear-gradient(0deg, #c8c8c8, #ffffff, #c8c8c8);
        border-style: none;
    }
    .fileTableHeader a{
        text-decoration: none;
        margin-left: 5px;
        color: #007a01;
        font-size: larger;
    }

    .fileTableHeader th{
        border-right: #ccc 1px solid;
        color: #007a01;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .fileTableCol{
        border-left: #ccc 1px solid;
        border-right: #ccc 1px solid;
        border-bottom: #ccc 1px solid;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
