<ion-header>
  <ion-navbar color="capufe_gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Realidad Aumentada</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <video autoplay="autoplay" class="easyrtcMirror" id="selfVideo" muted="muted" volume="0" ></video>
  </ion-card>
  <ion-row>
    <ion-col col-12 col-sm>
      <ion-card>
        <ion-item-divider>
          <ion-title>Utiliza la cámara</ion-title>
        </ion-item-divider>
        <ion-row (click)="loadARchitectWorld(getSamplePath(0))">
          <ion-col width-50>
            <img class="AR-icon1" width="100%" alt="">
          </ion-col>
          <ion-col width-50>
            <div
              style="color: #387ef5"
              class="button button-light icon ion-arrow-right-b"></div>
            <h4>¡Prueba nuestra RELIDAD AUMENTADA!</h4>
          </ion-col>
        </ion-row>
        <!--<ion-row>
          <ion-col>
            <a href="" style="text-decoration: none" ng-click="openAR1Modal()">Instrucciones &rArr;</a>
          </ion-col>
        </ion-row>-->
      </ion-card>
    </ion-col>

    <!--<ion-col col-12 col-sm>
      <ion-card>
        <ion-item-divider>
          <ion-title>Utiliza el GPS</ion-title>
        </ion-item-divider>
        <ion-row (click)="loadARchitectWorld(getSamplePath(1))">
          <ion-col width-50>
            <img class="AR-icon2" width="100%" alt="">
          </ion-col>
          <ion-col width-50>
            <div
              style="color: #387ef5"
              class="button button-light icon ion-arrow-right-b"></div>
            <h4>¡Prueba nuestra RELIDAD AUMENTADA v2.0!</h4>
          </ion-col>
        </ion-row>
        <!--<ion-row>
          <ion-col>
            <a href="" style="text-decoration: none" (click)="openAR2Modal()">Instrucciones &rArr;</a>
          </ion-col>
        </ion-row>--
      </ion-card>
    </ion-col>-->
  </ion-row>

  <ion-card>
    <ion-card-content>
      <div id='map' class='map' style="position: absolute;"></div>
    </ion-card-content>
  </ion-card>

</ion-content>
