page-realidad-aum {
  .AR-icon1{content: url("../assets/img/AR-images/AR-icon1.png");}
  .AR-icon2{content: url("../assets/img/AR-images/AR-icon2.png")}

  #map{
    width:100%;
    height: calc(100% + 25px);
  }
}
