<ion-header>

  <ion-navbar color="capufe_gray">
    <ion-title>Saldo TAG</ion-title>
    <img class="navbarImg" alt="">
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-item-divider>
      <ion-title>Recarga tu TAG</ion-title>
    </ion-item-divider>

    <ion-list>
      <ion-item>
        <ion-label>TAG</ion-label>
        <ion-select style="border-style:solid 1px black" [(ngModel)]="selectedTAG">
          <ion-option *ngFor="let tag of userTAG" [value]="tag">{{tag.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
          <div class="row">
            <div class="col">
              Saldo actual:
            </div>
          </div>
          <div class="row text-center">
            <div align="center" class="col">
              <h2>$ {{selectedTAG.balance }}</h2>
            </div>
          </div>
      </ion-item>

    </ion-list>

  </ion-card>


</ion-content>
