tab-mapa {
  .scroll-content{
    margin-top: 0 !important;
  }
  .toolbar-background{
    background: none;
  }

  ion-fab[top]{
    top:0;
  }

  .darkTheme{
    background-color:#fff;
    color:#338030;
  }

  .lightTheme{
    background-color:#338030;
    color: #fff;
  }

  .map{
    width:100%;
    height: calc(100% + 25px);
    position: absolute;
    background: url(../assets/img/warmup-bg.png);
    background-size: cover;
  }

  .no-map-loader{
    width: 100%;
    text-align: center;
    img{
      content: url(../assets/img/cloud_load_no_bg.gif);
    }
  }

  .center-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* or try 50% */

    color: yellow;
    font-size: xx-large;
  }
}
