<ion-header no-border>
  <ion-navbar  (click)="closeFabTopRight()">
    <button ion-button menuToggle [ngClass]="mapStyleId==0?'lightTheme':'darkTheme'">
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--<ion-title >Mapa</ion-title>-->
  </ion-navbar>

  <ion-fab top right #fabTopRight *ngIf="showMapLayer">
    <button ion-fab mini [ngClass]="mapStyleId==0?'lightTheme':'darkTheme'">
      <ion-icon name="contrast"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab *ngIf="mapStyleId == 0" (click)="changeMapStyle(1)">
        <ion-icon name="moon"></ion-icon>
      </button>
      <button ion-fab *ngIf="mapStyleId == 1" (click)="changeMapStyle(0)">
        <ion-icon name="sunny"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-header>

<ion-content>
  <div
    id='map'
    class='map'
    (click)="closeFabTopRight()">
    <div class="center-div">
      <div class="no-map-loader">
        <img  >
      </div>
      <div [hidden]="!cantInitMap" text-center>
        No se pudo iniciar el mapa
      </div>
    </div>
  </div>

  <ion-fab center bottom *ngIf="showMapLayer">
    <button ion-fab mini (click)="locateMe()" [ngClass]="mapStyleId==0?'lightTheme':'darkTheme'">
      <ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
